# NOTE
# The trailing /* is significant:

# - The pattern dir/ excludes a directory named dir and (implicitly) everything
#   under it. With dir/, Git will never look at anything under dir, and thus will
#   never apply any of the “un-exclude” patterns to anything under dir.

# - The pattern dir/* says nothing about dir itself; it just excludes everything
#   under dir. With dir/*, Git will process the direct contents of dir, giving
#   other patterns a chance to “un-exclude” some bit of the content (!dir/sub/).

*

!.gitignore

!.xinitrc
!.Xmodmap

!.tmux.conf

!.zshenv
!.zshrc

# To exclude folder but include specific subfolder, you have to “unignore”every parent directory
# of anything that you want to “unignore”.
# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder

!.config/

.config/*
!.config/chromium-flags.conf

!.config/wezterm/
!.config/wezterm/*

!.config/fanyi/
!.config/fanyi/.fanyirc

!.config/picom/
!.config/picom/picom.conf

!.config/zathura/
!.config/zathura/zathurarc

.config/lf/
!.config/lf/*


!.scripts/
.scripts/*
!.scripts/*


!.pip/
.pip/*
!.pip/pip.conf

!.docker/
.docker/*
!.docker/config.json
